
<h1>Profile of: <%= @apprentice.firstname %> <%= @apprentice.surname %></h1>

<div class="control-group">
  <label class="control-label display">Selected Industry:</label>
  <label class="control-label static-text">
    <%= @apprentice.industry.name %>
  </label>
</div>

<div class="control-group">
  <label class="control-label display">Email Address:</label>
  <label class="control-label static-text">
    <%= @apprentice.email %>
  </label>
</div>

<div class="control-group">
  <label class="control-label display">Mobile Number:</label>
  <label class="control-label static-text">
    <%= @apprentice.mobile_no %>
  </label>
</div>

<div class="control-group">
  <label class="control-label display">State:</label>
  <label class="control-label static-text">
    <%= @apprentice.state.name %>
  </label>
</div>

<div class="control-group">
  <label class="control-label display">Postcode:</label>
  <label class="control-label static-text">
    <%= @apprentice.postcode %>
  </label>
</div>

<hr>


<p><a href="/apprentice_cv/<%= @apprentice['id'] %>" class="btn btn-info btn-success">Create Job Seeker Profile</a></p>
<p><a href="/edit_apprentice/edit/<%= @apprentice['id'] %>" class="btn btn-info btn-success">Update Job Seeker Profile</a></p>




<% if logged_in? %>
  <p><a href="/apprentice/<%= @apprentice['id'] %>/edit">Edit</a></p>
<% end %>
